*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
}

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #e70606;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 230px;
}

.pagina {
    margin-left: 140px;
    transition: margin-left 0.5s ease;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: #e70606;
}

ul li.item-menu:hover{
    background: #e70606;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 60px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 20px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

.formulario{
    margin-bottom: 15px;
    max-width: 300px;
}

.formulario-grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.coluna {
    flex: 1;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="number"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 40px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.titulo-lista {
    font-size: 20px;
    margin-top: 20px;
}

.lista-rendas {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0;
    max-width: 500px;
}

.item-renda {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-renda span {
    font-weight: bold;
}

.item-renda .data-renda {
    font-size: 14px;
}

.valor-renda,
.descricao-renda,
.data-renda
.total-renda {
    margin-right: 50px;
    display: flex;
    align-items: center;
}