*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
}

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #e70606;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 230px;
}

.pagina {
    margin: 20px auto 0;
    margin-left: 140px;
    transition: margin-left 0.5s ease;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: #e70606;
}

ul li.item-menu:hover{
    background: #e70606;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 60px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 20px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

.form-cadastro {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.form-cadastro label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-cadastro input[type="text"],
.form-cadastro input[type="number"],
.form-cadastro select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.form-cadastro button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-cadastro input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.form-cadastro input[type="date"]::-webkit-inner-spin-button,
.form-cadastro input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    appearance: none;
}

.form-cadastro input[type="date"]::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
    appearance: none;
}

.form-cadastro input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.form-cadastro input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.filter-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    flex: 1;
}

.filter-form input[type="month"],
.filter-form select {
    flex: 2;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.filter-form button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.item-list {
    list-style-type: none;
    padding: 0;
}

.item-list li {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-list li span {
    flex: 1;
}

.item-list li form {
    margin-left: 10px;
}

.item-list li form button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.item-list li form button:hover {
    background-color: #c82333;
}

.footer-content {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 15px;
}

.footer-links li:last-child {
    margin-right: 0;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff9900;
}

#grafico-rendas,
#grafico-categorias,
#grafico-gastos,
#grafico-categorias-gastos {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: auto;
}

.graficos-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.grafico {
    width: 48%;
    margin-bottom: 40px;
}