<script>
    document.addEventListener('DOMContentLoaded', function() {
        var rendas_gastos = {{ context_renda_gasto|safe }};
        var labels_rendas_gastos = Object.keys(rendas_gastos);
        var data_rendas_gastos = Object.values(rendas_gastos);
        var context_investimentos = {{ context_investimentos|safe }};
        var investido_rendasfixa = context_investimentos.investido_rendasfixa;
        var investido_acoes = context_investimentos.investido_acoes_consolidado;
        var investido_fiis = context_investimentos.investido_fiis_consolidado;
        var investido_bdrs = context_investimentos.investido_bdrs_consolidado;
        var investido_criptos = context_investimentos.investido_criptos_consolidado;
        var chartOptions = {
            responsive: true,
            plugins: {
                legend: {
                    display: true
                }
            }
        };
        var Data_Rendas_Gastos = {
            labels: labels_rendas_gastos,
            datasets: [{
                label: 'Grafico',
                data: data_rendas_gastos,
                backgroundColor: [
                    '#3366CC', '#A50021', '#00CC66',
                ]
            }]
        };
        var ChartRendasGastos = new Chart(document.getElementById('grafico-rendas-gastos').getContext('2d'), {
            type: 'pie',
            data: Data_Rendas_Gastos,
            options: chartOptions,
        });
        var Data_Investimentos = {
            labels: ['Renda Fixa', 'Fundos Imobiliários', 'BDRs', 'Ações', 'Criptomoedas'],
            datasets: [{
                label: 'Grafico',
                data: [investido_rendasfixa, investido_fiis, investido_bdrs, investido_acoes, investido_criptos],
                backgroundColor: [
                '#3366CC', '#A50021', '#00CC66', 'purple', 'yellow',
                ]
            }]
        };
        var ChartInvestimentos = new Chart(document.getElementById('grafico-investimentos').getContext('2d'), {
            type: 'pie',
            data: Data_Investimentos,
            options: chartOptions,
        });

        var investimentos = {{ context_investimentos|safe }};
        var dividendos_agrupados_por_mes = investimentos.dividendos_agrupados_por_mes;
        var tickers = Object.keys(dividendos_agrupados_por_mes);
        var meses = Object.keys(dividendos_agrupados_por_mes[tickers[0]]);
        var ctx = document.getElementById('grafico-barras-empilhadas').getContext('2d');
        var dadosGrafico = {
            labels: meses,
            datasets: tickers.sort(function(a, b) {
                var somaA = meses.reduce(function(acumulador, mes) {
                    return acumulador + (dividendos_agrupados_por_mes[a][mes] || 0);
                }, 0);
            
                var somaB = meses.reduce(function(acumulador, mes) {
                    return acumulador + (dividendos_agrupados_por_mes[b][mes] || 0);
                }, 0);
                return somaB - somaA;
            }).map(function(ticker) {
                var data = meses.map(function(mes) {
                    var valor = dividendos_agrupados_por_mes[ticker][mes] || 0;
                    console.log(`Ticker: ${ticker}, Mês: ${mes}, Valor: ${valor}`);
                    return valor;
                });
                return {
                    label: ticker,
                    data: data,
                    backgroundColor: getColor(),
                };
            }),
        };
        var meuGrafico = new Chart(ctx, {
            type: 'bar',
            data: dadosGrafico,
            options: {
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true,
                    },
                },
                plugins: {
                    legend: {
                        display: false,
                    },
                },
            },
        });
        function getColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 3; i++) {
                const channel = Math.floor(Math.random() * 256);
                color += ('00' + channel.toString(16)).slice(-2);
            }
            return color;
        }
    });
</script>    