<table class="custom-table" style="margin-top: 50px;">
    <thead>
        <tr>
            <th colspan="4" style="text-align: center;">PORCENTAGENS FORMAS DE PAGAMENTOS <span class="info-icon">i
                <span class="info-text">A tabela abaixo apresenta os valores em porcentagem das formas de pagamento,
                    organizadas em ordem decrescente da soma total. Levando como ordenador 
                    a coluna de total, que contém todos os dados cadastrados.</span>
            </span></th>
            
        </tr>
        <tr>
        <th>Pagamento</th>
        <th>Total desde o ínicio</th>
        <th>Últimos 12 meses</th>
        <th>Mês atual</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in porcentagem_categorias_pagamento %}
            {% if tipo == "renda" %}
                {% if categoria.porcentagem_total != 0 %}
                    <tr>
                        <td>{{ categoria.categoria }}</td>
                        <td>{{ categoria.porcentagem_total }}%</td>
                        <td><span class=" {% if categoria.porcentagem_12meses == 0 %}{% elif categoria.porcentagem_12meses >= categoria.porcentagem_total %}positive{% else %}negative{% endif %}">
                            {{ categoria.porcentagem_12meses }}%</td>
                        </span>
                        <td><span class="{% if categoria.porcentagem_mes == 0 %}{% elif categoria.porcentagem_mes >= categoria.porcentagem_total %}positive{% else %}negative{% endif %}">
                            {{ categoria.porcentagem_mes }}%</td>
                        </span>
                    </tr>
                {% endif %}
            {% endif %}
            {% if tipo == "gasto" %}
                {% if categoria.porcentagem_total != 0 %}
                    <tr>
                        <td>{{ categoria.categoria }}</td>
                        <td>{{ categoria.porcentagem_total }}%</td>
                        <td><span class="{% if categoria.porcentagem_12meses == 0 %}{% elif categoria.porcentagem_12meses >= categoria.porcentagem_total %}negative{% else %}positive{% endif %}">
                            {{ categoria.porcentagem_12meses }}%</td>
                        </span>
                        <td><span class="{% if categoria.porcentagem_mes == 0 %}{% elif categoria.porcentagem_mes >= categoria.porcentagem_total %}negative{% else %}positive{% endif %}">
                            {{ categoria.porcentagem_mes }}%</td>
                        </span>
                    </tr>
                    {% endif %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>