{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>MINHA CARTEIRA - VISÃO GERAL</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">
    {% include 'shared/consolidar_carteira.html' %}
    {% include 'shared/tabelas/tabela_index_rendas_gastos.html' %}
    <div class="graficos-container-index">
        <div class="grafico">
            <canvas id="grafico-rendas-gastos"></canvas>
        </div>
    </div>

    {% include 'shared/tabelas/tabela_index_investimentos.html' %}
    <div class="graficos-container-index" style="margin-bottom: 80px;">
        <div class="grafico">
            <canvas id="grafico-investimentos"></canvas>
        </div>
    </div>

</div>
{% include 'shared/scripts/script_grafico_index.html' %}
{% include 'shared/footer.html' %}
<script src="{% static 'styles/modal_button.js' %}"></script>

{% endblock %}