<div class="form-columns">
    <div class="form-column">
        {% for field in form.visible_fields|slice:":4" %}
        <div class="form-field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field.as_widget }}
        </div>
        {% endfor %}
    </div>
    <div class="form-column">
        {% for field in form.visible_fields|slice:"4:" %}
        <div class="form-field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field.as_widget }}
        </div>
        {% endfor %}
    </div>
</div>