<ul class="item-list">
    {% for itens in page_obj %}
    <li class="item-renda">
        <span>R$ {{ itens.valor|floatformat:2 }}</span>
        <span>{{ itens.categoria }}</span>
        <span>{{ itens.metodo_pagamento }}</span>
        <span>{{ itens.data|date:"d-m-Y" }}</span>
        <form action="{% url 'delete_gasto' gasto.id %}" method="post">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Tem certeza que deseja deletar esse gasto?')">X</button>
        </form>
    </li>
    {% endfor %}
    <li><span>Total: R$ {{ total_gastos|floatformat:2 }}</span></li>
</ul>