<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page=1{% if request.GET.selected_month %}&selected_month={{ request.GET.selected_month }}{% endif %}{% if request.GET.selected_category %}&selected_category={{ request.GET.selected_category }}{% endif %}{% if request.GET.selected_payment %}&selected_payment={{ request.GET.selected_payment }}{% endif %}">&laquo; primeira</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.selected_month %}&selected_month={{ request.GET.selected_month }}{% endif %}{% if request.GET.selected_category %}&selected_category={{ request.GET.selected_category }}{% endif %}{% if request.GET.selected_payment %}&selected_payment={{ request.GET.selected_payment }}{% endif %}">anterior</a>
        {% endif %}
        
        <span>
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.selected_month %}&selected_month={{ request.GET.selected_month }}{% endif %}{% if request.GET.selected_category %}&selected_category={{ request.GET.selected_category }}{% endif %}{% if request.GET.selected_payment %}&selected_payment={{ request.GET.selected_payment }}{% endif %}">próxima</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.selected_month %}&selected_month={{ request.GET.selected_month }}{% endif %}{% if request.GET.selected_category %}&selected_category={{ request.GET.selected_category }}{% endif %}{% if request.GET.selected_payment %}&selected_payment={{ request.GET.selected_payment }}{% endif %}">última &raquo;</a>
        {% endif %}
    </span>
</div>
