<script>
    var totais_dict = {{ grafico|safe }};
    var labels = Object.keys(totais_dict);
    var data = Object.values(totais_dict);
    var totais_dict_mes = {{ grafico_mes|safe }};
    var labels_mes = Object.keys(totais_dict_mes);
    var data_mes = Object.values(totais_dict_mes);
    var chartOptions = {
        responsive: true,
        plugins: {
            legend: {
                display: false
            }
        }
    };
    var Data = {
        labels: labels,
        datasets: [{
            label: 'Grafico',
            data: data,
            backgroundColor: [
                'red', 'green', 'blue', 'orange', 'purple', 'yellow', 'pink', 'turquoise', 'indigo', 'magenta',
                'cyan', 'brown', 'gold', 'silver', 'teal', 'lavender', 'maroon', 'olive', 'coral', 'slate', 'gray', 'black',
            ]
        }]
    };
    var ChartTotal = new Chart(document.getElementById('grafico').getContext('2d'), {
        type: 'bar',
        data: Data,
        options: chartOptions,
    });
    var DataMes = {
        labels: labels_mes,
        datasets: [{
            label: 'Grafico',
            data: data_mes,
            backgroundColor: [
                'red', 'green', 'blue', 'orange', 'purple', 'yellow', 'pink', 'turquoise', 'indigo', 'magenta',
                'cyan', 'brown', 'gold', 'silver', 'teal', 'lavender', 'maroon', 'olive', 'coral', 'slate', 'gray', 'black',
            ]
        }]
    };
    var ChartMes = new Chart(document.getElementById('grafico-mes').getContext('2d'), {
        type: 'bar',
        data: DataMes,
        options: chartOptions,
    });

    var contagem_mes_dict = {{ contagem_mes|safe }};
    var labelsContagemMes = Object.keys(contagem_mes_dict);
    var dataContagemMes = Object.values(contagem_mes_dict);
    var chartOptionsContagem = {
        responsive: true,
        plugins: {
            legend: {
                display: false
            }
        },
    };
    var ContagemMes = {
        labels: labelsContagemMes,
        datasets: [{
            label: '',
            data: dataContagemMes,
            backgroundColor: [
                'red', 'green', 'blue', 'orange', 'purple', 'yellow', 'pink', 'turquoise', 'indigo', 'magenta',
                'cyan', 'brown', 'gold', 'silver', 'teal', 'lavender', 'maroon', 'olive', 'coral', 'slate', 'gray', 'black',
            ]
        }]
    };
    var Contagem_Mes = new Chart(document.getElementById('grafico-contagem-mes').getContext('2d'), {
        type: 'pie',
        data: ContagemMes,
        options: chartOptionsContagem,
    });
    var contagem_total_dict = {{ contagem_total|safe }};
    var labelsContagemTotal = Object.keys(contagem_total_dict);
    var dataContagemTotal = Object.values(contagem_total_dict);
    var ContagemTotal = {
        labels: labelsContagemTotal,
        datasets: [{
            label: '',
            data: dataContagemTotal,
            backgroundColor: [
                'red', 'green', 'blue', 'orange', 'purple', 'yellow', 'pink', 'turquoise', 'indigo', 'magenta',
                'cyan', 'brown', 'gold', 'silver', 'teal', 'lavender', 'maroon', 'olive', 'coral', 'slate', 'gray', 'black',
            ]
        }]
    };
    var Contagem_Total = new Chart(document.getElementById('grafico-contagem-total').getContext('2d'), {
        type: 'pie',
        data: ContagemTotal,
        options: chartOptionsContagem,
    });
</script>
