<script>
    var totais_dict_renda = {{ grafico_renda|safe }};
    var labelsRenda = Object.keys(totais_dict_renda);
    var dataRenda = Object.values(totais_dict_renda);
    var totais_dict_gasto = {{ grafico_gasto|safe }};
    var labelsGasto = Object.keys(totais_dict_gasto);
    var dataGasto = Object.values(totais_dict_gasto);
    var RendaData = {
        labels: labelsRenda,
        datasets: [{
            label: 'Grafico',
            data: dataRenda,
            backgroundColor: [
                'red', 'green', 'blue', 'orange', 'purple', 'yellow', 'pink', 'turquoise', 'indigo', 'magenta',
                'cyan', 'brown', 'gold', 'silver', 'teal', 'lavender', 'maroon', 'olive', 'coral', 'slate',
            ]
        }]
    };
    var chartOptions = {
        responsive: true,
        plugins: {
            legend: {
                display: false
            }
        }
    };
    var RendaChart = new Chart(document.getElementById('grafico-renda').getContext('2d'), {
        type: 'bar',
        data: RendaData,
        options: chartOptions,
    });

    var GastoData = {
        labels: labelsGasto,
        datasets: [{
            label: 'Grafico',
            data: dataGasto,
            backgroundColor: [
                'red', 'green', 'blue', 'orange', 'purple', 'yellow', 'pink', 'turquoise', 'indigo', 'magenta',
                'cyan', 'brown', 'gold', 'silver', 'teal', 'lavender', 'maroon', 'olive', 'coral', 'slate',
            ]
        }]
    };
    var GastoChart = new Chart(document.getElementById('grafico-gasto').getContext('2d'), {
        type: 'bar',
        data: GastoData,
        options: chartOptions,
    });
</script>
