<table>
    <thead>
        <tr>
        <th>Ticker</th>
        <th>Preço atual</th>
        <th>Média compra</th>
        <th>Dividendos</th>
        <th>Quantidade</th>
        <th>Lucro</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in tabela_tickers.items %}
        <tr>
            <td>{{ key }}</td>
            <td>R$ {{ value.valor }}</td>
            <td>R$ {{ value.preco_medio }}</td>
            <td>R$ {{ value.dividendo }}</td>
            <td> {{ value.quantidade }}</td>
            <td> {{ value.lucro }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>