<table>
    <thead>
        <tr>
        <th>Ticker</th>
        <th>Preço atual</th>
        <th>Média compra</th>
        <th>Dividendos</th>
        <th>Quantidade</th>
        <th>Lucro</th>
        </tr>
    </thead>
    <tbody>
        {% for ticker, dados  in tickers_consolidados.items %}
        <tr>
            <td><a href="/{{ tipo_investimento }}/{{ ticker }}">{{ ticker }}</td>
            <td><span class="{% if dados.valor >= dados.preco_medio %}positive{% else %}negative{% endif %}">
                R$ {{ dados.valor }}</td>
            </span>
            <td>R$ {{ dados.preco_medio }}</td>
            <td>R$ {{ dados.dividendo }}</td>
            <td> 
                {% if tipo_investimento == "criptos" %}
                {{ dados.quantidade|floatformat:8 }}
                {% else %}
                {{ dados.quantidade }}
                {% endif %}
            </td>
            <td><span class="{% if dados.lucro >= 0 %}positive{% else %}negative{% endif %}">
                R$ {{ dados.lucro }}</td>
            </span>
        </tr>
        {% endfor %}
        {% if tipo_investimento != "criptos" %}
        <tr>
            <td>TOTAL</td>
            <td><span class="{% if tickers_consolidados_total.total_valor >= tickers_consolidados_total.total_preco_medio %}negative{% else %}positive{% endif %}">
                R$ {{ tickers_consolidados_total.total_valor }}</td>
            </span>
            </td>
            <td> - </td>
            <td>R$ {{ tickers_consolidados_total.total_dividendos }}</td>
            <td> - </td>
            <td><span class="{% if tickers_consolidados_total.total_lucro >= 0 %}positive{% else %}negative{% endif %}">
                R$ {{ tickers_consolidados_total.total_lucro }}</td>
            </span>
        </tr>
        {% endif %}
    </tbody>
</table>