{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>AÇÕES</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">

    <form action="{% url 'acoes' %}" method="POST" class="form-cadastro" style="max-width: 905px;">
        {% csrf_token %}
        {% include 'shared/cadastro_template.html' %}
        <div style="text-align: center;">
            <button type="submit" class="botao-normal">Cadastrar ação</button>
        </div>
    </form> 

    {% with tipo_investimento="acoes" %}
        {% include 'shared/tabela_invest.html' %}
    {% endwith %}

    <div class="container">
        <div class="box">
            <h2>Valores em ações</h2>
            <p>Investido: R$ {{ context_view.investido|floatformat:2 }}</p>
            <p>Dividendo: R$ {{ context_view.dividendo|floatformat:2 }}</p>
            <p>Total: <span class="{% if context_view.total >= context_view.investido %}positive{% else %}negative{% endif %}">
                R$ {{ context_view.total|floatformat:2 }}
                </span>
            </p>
        </div>
    </div>
        <div class="graficos-container">
            <div class="grafico">
                <h2>
                    Ações
                    <span class="info-icon">i
                        <span class="info-text">Gráfico representando a soma possuída em cada ação.</span>
                    </span>
                </h2>
                <canvas id="grafico-ticker"></canvas>
            </div>
        </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Categorias
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a soma possuída em cada
                        categoria de ações.</span>
                </span>
            </h2>
            <canvas id="grafico-cat"></canvas>
        </div>
    </div>

    {% include 'shared/script_grafico_invest.html' %}
    
</div>
{% include 'shared/footer.html' %}

{% endblock %}