{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>BDRS</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">

    {% with tipo_investimento="bdrs" %}
    {% include 'shared/tabela_invest.html' %}
    {% endwith %}

    <form action="{% url 'bdrs' %}" method="POST" class="form-cadastro" style="max-width: 870px;">
        {% csrf_token %}
        {% include 'shared/cadastro_template.html' %}
        <div style="text-align: center;">
            <button type="submit" name="compra" class="botao-compra">Cadastrar Compra</button>
            <button type="submit" name="venda" class="botao-venda">Cadastrar Venda</button>
        </div>
    </form>

    <table class="custom-table" style="margin-bottom: 0px;">
        <thead>
            <tr>
                <th colspan="5" style="text-align: center;">TABELA DE ATIVOS CADASTRADOS</th>
            </tr>
            <tr>
                <th>Ticker</th>
                <th>Total</th>
                <th>Categoria</th>
                <th>Última compra</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for bdr in page_obj %}
            <tr>
                <td>{{ bdr.ticker }}</td>
                <td>R$ {{ bdr.valor|floatformat:2 }}</td>
                <td>{{ bdr.categoria }}</td>
                <td>{{ bdr.data|date:"d-m-Y" }}</td>
                <td style="text-align: center;">
                    <form action="{% url 'delete_bdr' bdr.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="delete-button" onclick="return confirm('Tem certeza que deseja deletar esse BDR? Todos os dados vinculados também serão excluídos.')">X</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Total:</td>
                <td>R$ {{ total_bdrs|floatformat:2 }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>    
    <div style="margin-left: 230px;">{% include 'shared/pagination.html' %}</div>

    <div class="container">
        <div class="box">
            <h2>Valores em BDRs</h2>
            <p>Investido: R$ {{ context_view.investido|floatformat:2 }}</p>
            <p>Dividendo: R$ {{ context_view.dividendo|floatformat:2 }}</p>
            <p>Total: <span class="{% if context_view.total >= context_view.investido %}positive{% else %}negative{% endif %}">
                R$ {{ context_view.total|floatformat:2 }}
                </span>
            </p>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Ações
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a soma possuída em cada ação.</span>
                </span>
            </h2>
            <canvas id="grafico-ticker"></canvas>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Categorias
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a soma possuída em cada
                        categoria de ações.</span>
                </span>
            </h2>
            <canvas id="grafico-cat"></canvas>
        </div>
    </div>

    {% include 'shared/script_grafico_invest.html' %}

</div>
{% include 'shared/footer.html' %}

{% endblock %}