{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>CRIPTO MOEDAS</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">
    <form action="{% url 'criptos' %}" method="POST" class="form-cadastro" style="max-width: 925px;">
        {% csrf_token %}
        {% include 'shared/cadastro_template.html' %}
        <div style="text-align: center;">
            <button type="submit" name="compra" class="botao-compra">Cadastrar Compra</button>
            <button type="submit" name="venda" class="botao-venda">Cadastrar Venda</button>
        </div>
    </form>

    <table class="custom-table">
        <thead>
            <tr>
                <th>TICKER</th>
                <th>TOTAL</th>
                <th>CATEGORIA</th>
                <th>ULTIMA COMPRA</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            {% for cripto in page_obj %}
            <tr class="item-fii">
                <td>{{ cripto.ticker }}</td>
                <td>R$ {{ cripto.valor|floatformat:2 }}</td>
                <td>{{ cripto.categoria }}</td>
                <td>{{ cripto.data|date:"d-m-Y" }}</td>
                <td style="text-align: center;">
                    <form action="{% url 'delete_cripto' cripto.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="delete-button" onclick="return confirm('Tem certeza que deseja deletar essa cripto? Todos os dados vinculados também serão excluídos.')">X</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Total:</td>
                <td>R$ {{ total_fiis|floatformat:2 }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>    
    <div style="margin-left: 230px;">{% include 'shared/pagination.html' %}</div>

    <div class="container">
        <div class="box">
            <h2>Valores em cripto moedas</h2>
            <p>Investido: R$ {{ context_view.investido|floatformat:2 }}</p>
            <p>Dividendo: R$ {{ context_view.dividendo|floatformat:2 }}</p>
            <p>Total: <span class="{% if context_view.total >= context_view.investido %}positive{% else %}negative{% endif %}">
                R$ {{ context_view.total|floatformat:2 }}
                </span>
            </p>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Fundos Imobiliários
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a soma possuída em cada
                        cripto moeda.</span>
                </span>
            </h2>
            <canvas id="grafico-ticker"></canvas>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Categorias
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a soma possuída em cada
                        categoria de cripto moeda.</span>
                </span>
            </h2>
            <canvas id="grafico-cat"></canvas>
        </div>
    </div>

    {% include 'shared/script_grafico_invest.html' %}

    {% with tipo_investimento="criptos" %}
    {% include 'shared/tabela_invest.html' %}
    {% endwith %}

</div>
{% include 'shared/footer.html' %}

{% endblock %}