{% extends 'shared/base.html' %}
{% block title %}Minha Carteira - Renda Fixa{% endblock %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>RENDA FIXA</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">
    <form action="{% url 'rendafixa' %}" method="POST" class="form-cadastro" style="max-width: 750px;">
        {% csrf_token %}
        {% include 'shared/cadastro_template.html' %}
        <div style="text-align: center;">
            <button type="submit" class="botao-normal">Cadastrar renda fixa</button>
        </div>
    </form>

    {% with tipo_investimento="rendafixa" %}
        <table class="custom-table" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th colspan="8" style="text-align: center;">TABELA DE ATIVOS CADASTRADOS</th>
                </tr>
                <tr>
                    <th>Ticker</th>
                    <th>Valor investido</th>
                    <th>Dividendos</th>
                    <th>Categoria</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for invest in page_obj %}
                <tr>
                    {% with entidade=invest.ticker %}
                    <td><a href="detalhes_ticker/{{ tipo_investimento }}/{{ entidade  }}">{{ entidade  }}</td>
                    {% endwith %}
                    <td>R$ {{ invest.valor|floatformat:2 }}</td>
                    <td>R$ {{ invest.dividendo|floatformat:2 }}</td>
                    <td>{{ invest.categoria }}</td>
                    <td style="text-align: center;">
                        <form action="{% url 'delete_investimento' tipo_investimento invest.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="delete-button" onclick="return confirm('Tem certeza que deseja deletar esse investimento? Todos os dados vinculados também serão excluídos.')">X</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Total:</td>
                    <td>R$ {{ context_view.investido|floatformat:2 }}</td>
                    <td>R$ {{ context_view.dividendo|floatformat:2 }}</td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
        <div style="margin-left: 80px;">{% include 'shared/pagination.html' %}</div>
    {% endwith %}

    <div class="container">
        <div class="box">
            <h2>Valores em renda fixa</h2>
            <p>Investido: R$ {{ context_view.investido|floatformat:2 }}</p>
            <p>Dividendo: R$ {{ context_view.dividendo|floatformat:2 }}</p>
            <p>Total: <span class="{% if context_view.total >= context_view.investido %}positive{% else %}negative{% endif %}">
                R$ {{ context_view.total|floatformat:2 }}
                </span>
            </p>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Renda Fixa
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a soma possuída em cada
                        renda fixa.</span>
                </span>
            </h2>
            <canvas id="grafico-ticker"></canvas>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Categorias
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a soma possuída em cada
                        categoria de renda fixa.</span>
                </span>
            </h2>
            <canvas id="grafico-cat"></canvas>
        </div>
    </div>
    {% include 'shared/graficos_empilhados.html' %}

    {% include 'shared/scripts/script_grafico_invest.html' %}

    {% include 'shared/scripts/script_grafico_empilhado.html' %}

</div>
{% include 'shared/footer.html' %}

{% endblock %}