{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>RENDA FIXA</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">
    <form action="{% url 'rendafixa' %}" method="POST" class="form-cadastro" style="max-width: 945px;">
        {% csrf_token %}
        {% include 'shared/cadastro_template.html' %}
        <div style="text-align: center;">
            <button type="submit" name="compra" class="botao-compra">Cadastrar Compra</button>
            <button type="submit" name="venda" class="botao-venda">Cadastrar Venda</button>
        </div>
    </form>

    <table class="custom-table">
        <thead>
            <tr>
                <th>VALOR</th>
                <th>CATEGORIA</th>
                <th>ULTIMA COMPRA</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            {% for rendafixa in page_obj %}
            <tr>
                <td>R$ {{ rendafixa.valor|floatformat:2 }}</td>
                <td>{{ rendafixa.categoria }}</td>
                <td>{{ rendafixa.data|date:"d-m-Y" }}</td>
                <td style="text-align: center;">
                    <form action="{% url 'delete_rendafixa' rendafixa.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="delete-button" onclick="return confirm('Tem certeza que deseja deletar essa renda fixa?')">X</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">Total:</td>
                <td>R$ {{ total_rendasfixa|floatformat:2 }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>    
    <div style="margin-left: 230px;">{% include 'shared/pagination.html' %}</div>

    <div class="container">
        <div class="box">
            <h2>Valores em renda fixa</h2>
            <p>Investido: R$ {{ context_view.investido|floatformat:2 }}</p>
            <p>Dividendo: R$ {{ context_view.dividendo|floatformat:2 }}</p>
            <p>Total: <span class="{% if context_view.total >= context_view.investido %}positive{% else %}negative{% endif %}">
                R$ {{ context_view.total|floatformat:2 }}
                </span>
            </p>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Renda Fixa
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a soma possuída em cada
                        renda fixa.</span>
                </span>
            </h2>
            <canvas id="grafico-ticker"></canvas>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Categorias
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a soma possuída em cada
                        categoria de renda fixa.</span>
                </span>
            </h2>
            <canvas id="grafico-cat"></canvas>
        </div>
    </div>

    {% with tipo_investimento="rendafixa" %}
        <table class="custom-table">
            <thead>
                <tr>
                <th>Ticker</th>
                <th>Preço atual</th>
                <th>Média compra</th>
                <th>Dividendos</th>
                <th>Quantidade</th>
                <th>Lucro</th>
                </tr>
            </thead>
            <tbody>
                {% for ticker, dados  in rendasfixa_cadastradas.items %}
                <tr>
                    <td><a href="/{{ tipo_investimento }}/{{ ticker }}">{{ ticker }}</td>
                    <td><span class="{% if dados.valor >= dados.preco_medio %}positive{% else %}negative{% endif %}">
                        R$ {{ dados.valor }}</td>
                    </span>
                    <td>R$ {{ dados.preco_medio }}</td>
                    <td>R$ {{ dados.dividendo }}</td>
                    <td> {{ dados.quantidade }}</td>
                    <td><span class="{% if dados.lucro >= 0 %}positive{% else %}negative{% endif %}">
                        R$ {{ dados.lucro }}</td>
                    </span>
                </tr>
                {% endfor %}
                <tr>
                    <td>TOTAL</td>
                    <td> - </td>
                    <td> - </td>
                    <td>R$ {{ tickers_consolidados_total.total_dividendos }}</td>
                    <td> - </td>
                    <td><span class="{% if tickers_consolidados_total.total_lucro >= 0 %}positive{% else %}negative{% endif %}">
                        R$ {{ tickers_consolidados_total.total_lucro }}</td>
                    </span>
                </tr>
            </tbody>
        </table>
    {% endwith %}

    {% include 'shared/script_grafico_invest.html' %}

</div>
{% include 'shared/footer.html' %}

{% endblock %}