{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>RENDA FIXA</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">
    <form action="{% url 'rendasfixa' %}" method="POST" class="form-cadastro" style="max-width: 850px;">
        {% csrf_token %}
        {% include 'shared/cadastro_template.html' %}
        <div style="text-align: center;">
            <button type="submit">Cadastrar renda fixa</button>
        </div>
    </form>
    
    <form method="get" class="filter-form">
        <div>
            <label for="selected_month">Mês:</label>
            <input type="month" id="selected_month" name="selected_month">
        </div>
        
        <div>
            <label for="selected_category">Categoria:</label>
            <select id="selected_category" name="selected_category">
                <option value="">Todas as categorias</option>
                {% for category in opcoes_fiis %}
                    <option value="{{ category.0 }}">{{ category.1 }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button type="submit">Filtrar</button>
    </form>

    <h2>Rendas fixas cadastradas</h2>
    <ul class="item-list">
        <li>
            <span><strong>TICKER</strong></span>
            <span><strong>VALOR</strong></span>
            <span><strong>CATEGORIA</strong></span>
            <span><strong>ULTIMA COMPRA</strong></span>
        </li>
        {% for rendafixa in page_obj %}
        <li class="item-fii">
            <span>R$ {{ rendafixa.valor|floatformat:2 }}</span>
            <span>{{ rendafixa.categoria }}</span>
            <span>{{ rendafixa.data|date:"d-m-Y" }}</span>
            <form action="{% url 'delete_rendafixa' rendafixa.id %}" method="post">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar essa renda fixa?')">X</button>
            </form>
        </li>
        {% endfor %}
        <li><span>Total: R$ {{ total_rendasfixa|floatformat:2 }}</span></li>
    </ul>
    {% include 'shared/pagination.html' %}

    <div class="container">
        <div class="box">
            <h2>Valores em renda fixa</h2>
            <p>Investido: R$ {{ context_view.investido|floatformat:2 }}</p>
            <p>Dividendo: R$ {{ context_view.dividendo|floatformat:2 }}</p>
            <p>Total: <span class="{% if context_view.total >= context_view.investido %}positive{% else %}negative{% endif %}">
                R$ {{ context_view.total|floatformat:2 }}
                </span>
            </p>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Fundos Imobiliários
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a soma possuída em cada
                        renda fixa.</span>
                </span>
            </h2>
            <canvas id="grafico-ticker"></canvas>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Categorias
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a soma possuída em cada
                        categoria de renda fixa.</span>
                </span>
            </h2>
            <canvas id="grafico-cat"></canvas>
        </div>
    </div>

    {% include 'shared/script_grafico_invest.html' %}

    {% include 'shared/tabela_invest.html' %}

</div>
{% include 'shared/footer.html' %}

{% endblock %}