{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>{{ ticker }}</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">
    <form action="{% url 'detalhes_ticker' tipo_investimento=tipo_investimento ticker=ticker %}" method="POST" class="form-cadastro" style="max-width: 385px;">
        {% csrf_token %}
        {% include 'shared/cadastro_template.html' %}
        <div style="text-align: center;">
            <button type="submit" name="dividendo" class="botao-normal">Cadastrar Dividendo</button>
        </div>
    </form>

    <table class="custom-table" style="width: 500px; margin-left: 365px; margin-bottom: 0px;">
        <thead>
            <tr>
                <th colspan="3" style="text-align: center;">TABELA DE DIVIDENDOS</th>
            </tr>
            <tr>
                <th>Valor</th>
                <th>Data</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for div in page_obj %}
            <tr>
                <td>R$ {{ div.valor|floatformat:2 }}</td>
                <td>{{ div.data|date:"d-m-Y" }}</td>
                <td style="text-align: center;">
                    <form action="{% url 'delete_div' tipo_investimento=tipo_investimento ticker=ticker div_id=div.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="delete-button" onclick="return confirm('Tem certeza que deseja deletar esse dividendo?')">X</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" style="font-weight: bold;">Total dividendos: R$ {{ total_div|floatformat:2 }}</td>
            </tr>
        </tbody>
    </table>    
    <div style="margin-left: 325px;"> {% include 'shared/pagination.html' %} </div>

    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Histórico dividendos
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a quantidade de dividendos recebidos
                        em cada mês.</span>
                </span>
            </h2>
            <canvas id="grafico-div"></canvas>
        </div>
    </div>

    <form action="{% url 'detalhes_ticker' tipo_investimento=tipo_investimento ticker=ticker %}" method="POST" class="form-cadastro" style="max-width: 575px;">
        {% csrf_token %}
        <div class="form-columns">
            <div class="form-column" style="white-space: nowrap;">
                {% for field in form_cv.visible_fields %}
                <div class="form-field" style="display: inline-block; margin-right: 10px;">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.as_widget }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div style="text-align: center;">
            <button type="submit" name="compra" class="botao-compra">Cadastrar Compra</button>
            <button type="submit" name="venda" class="botao-venda">Cadastrar Venda</button>
        </div>
    </form>
    <table class="custom-table" style="width: 500px; margin-left: 365px; margin-bottom: 0px;">
        <thead>
            <tr>
                <th colspan="3" style="text-align: center;">TABELA DO HISTÓRICO DE COMPRAS</th>
            </tr>
            <tr>
                <th>Valor</th>
                <th>Data</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for cv in page_obj_cv %}
            <tr>
                <td>R$ {{ cv.valor|floatformat:2 }}</td>
                <td>{{ cv.data|date:"d-m-Y" }}</td>
                <td style="text-align: center;">
                    <form action="{% url 'delete_cv' tipo_investimento=tipo_investimento ticker=ticker cv_id=cv.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="delete-button" onclick="return confirm('Tem certeza que deseja deletar esta compra/venda?')">X</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" style="font-weight: bold;">Total: R$ {{ total_compra|floatformat:2 }}</td>
            </tr>
        </tbody>
    </table>    
    <div style="margin: 8px 40px; margin-left: 365px;">
        <span>
            {% if page_obj_cv.has_previous %}
                <a href="?page=1{% if request.GET.selected_month %}&selected_month={{ request.GET.selected_month }}{% endif %}{% if request.GET.selected_category %}&selected_category={{ request.GET.selected_category }}{% endif %}{% if request.GET.selected_payment %}&selected_payment={{ request.GET.selected_payment }}{% endif %}">&laquo; primeira</a>
                <a href="?page={{ page_obj_cv.previous_page_number }}{% if request.GET.selected_month %}&selected_month={{ request.GET.selected_month }}{% endif %}{% if request.GET.selected_category %}&selected_category={{ request.GET.selected_category }}{% endif %}{% if request.GET.selected_payment %}&selected_payment={{ request.GET.selected_payment }}{% endif %}">anterior</a>
            {% endif %}
            
            <span>
                Página {{ page_obj_cv.number }} de {{ page_obj_cv.paginator.num_pages }}.
            </span>
    
            {% if page_obj_cv.has_next %}
                <a href="?page={{ page_obj_cv.next_page_number }}{% if request.GET.selected_month %}&selected_month={{ request.GET.selected_month }}{% endif %}{% if request.GET.selected_category %}&selected_category={{ request.GET.selected_category }}{% endif %}{% if request.GET.selected_payment %}&selected_payment={{ request.GET.selected_payment }}{% endif %}">próxima</a>
                <a href="?page={{ page_obj_cv.paginator.num_pages }}{% if request.GET.selected_month %}&selected_month={{ request.GET.selected_month }}{% endif %}{% if request.GET.selected_category %}&selected_category={{ request.GET.selected_category }}{% endif %}{% if request.GET.selected_payment %}&selected_payment={{ request.GET.selected_payment }}{% endif %}">última &raquo;</a>
            {% endif %}
        </span>
    </div>

    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Histórico compras
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando os valores das compras
                        em cada mês.</span>
                </span>
            </h2>
            <canvas id="grafico-compra"></canvas>
        </div>
    </div>

    {% include 'shared/script_grafico_ticker.html' %}

</div>

{% include 'shared/footer.html' %}

{% endblock %}