{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>GASTOS</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">
    <form action="{% url 'gastos' %}" method="POST" class="form-cadastro" style="max-width: 680px;">
        {% csrf_token %}
        {% include 'shared/cadastro_template.html' %}
        <div style="text-align: center;">
            <button type="submit">Cadastrar gasto</button>
        </div>
    </form>

    <form method="get" class="filter-form">
        <div>
            <label for="selected_month">Mês:</label>
            <input type="month" id="selected_month" name="selected_month" value="{{ request.GET.selected_month }}">
        </div>

        <div>
            <label for="selected_category">Categoria:</label>
            <select id="selected_category" name="selected_category" value="{{ request.GET.selected_category }}">
                <option value="">Todas as categorias</option>
                {% for category in opcoes_gastos %}
                    <option value="{{ category.0 }}">{{ category.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="selected_payment">Pagamento:</label>
            <select id="selected_payment" name="selected_payment" value="{{ request.GET.selected_payment }}">
                <option value="">Todos pagamento</option>
                {% for payment in opcoes_pagamentos %}
                    <option value="{{ payment.0 }}">{{ payment.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit">Filtrar</button>
        <form action="{% url 'limpar_filtros' 'gastos' %}" method="get">
            <button type="submit">Limpar Filtros</button>
        </form>   
    </form>

    <h2 style="margin: 8px 40px;">GASTOS CADASTRADOS:</h2>
    <ul class="item-list">
        <li>
            <span><strong>VALOR</strong></span>
            <span><strong>CATEGORIA</strong></span>
            <span><strong>PAGAMENTO</strong></span>
            <span style="padding-right: 30px;"><strong>DATA</strong></span>
        </li>
        {% for gasto in page_obj %}
        <li>
            <span>R$ {{ gasto.valor|floatformat:2 }}</span>
            <span>{{ gasto.categoria }}</span>
            <span>{{ gasto.metodo_pagamento }}</span>
            <span>{{ gasto.data|date:"d-m-Y" }}</span>
            <form action="{% url 'delete_gasto' gasto.id %}" method="post">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar esse gasto?')">X</button>
            </form>
        </li>
        {% endfor %}
        <li><span style="font-weight: bold;">Total: R$ {{ total_gastos|floatformat:2 }}</span></li>
    </ul>
    {% include 'shared/pagination.html' %}
    <div class="container">
        <div class="box">
            <h2>Gastos do mês atual</h2>
            <p>Total: R$ {{ context_view.gasto_mes|floatformat:2 }}</p>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Gastos do mês
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando os gastos do mês atual, 
                        em ordem decrescente da soma dos valores das categorias.</span>
                </span>
            </h2>
            <canvas id="grafico-mes"></canvas>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <h2>Gastos totais</h2>
            <p>Total: R$ {{ context_total.gasto_total|floatformat:2 }}</p>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Todos os gastos
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando todos os gastos cadastrados, 
                        em ordem decrescente da soma dos valores das categorias.</span>
                </span>
            </h2>
            <canvas id="grafico"></canvas>
        </div>
    </div>

    {% include 'shared/script_grafico.html' %}

</div>
{% include 'shared/footer.html' %}

{% endblock %}
