{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="pagina">
    <form action="{% url 'gastos' %}" method="POST" class="form-cadastro">
        {% csrf_token %}
        <div>
            <div>
                {% for field in form.visible_fields|slice:":3" %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.as_widget }}
                </div>
                {% endfor %}
            </div>
            <div>
                {% for field in form.visible_fields|slice:"3:" %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.as_widget }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <button type="submit">Cadastrar gasto</button>
        </div>
    </form>

    <form method="get" class="filter-form">
        <div>
            <label for="selected_month">Mês:</label>
            <input type="month" id="selected_month" name="selected_month">
        </div>

        <div>
            <label for="selected_category">Categoria:</label>
            <select id="selected_category" name="selected_category">
                <option value="">Todas as categorias</option>
                {% for category in opcoes_gastos %}
                    <option value="{{ category.0 }}">{{ category.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="selected_payment">Pagamento:</label>
            <select id="selected_payment" name="selected_payment">
                <option value="">Todos pagamento</option>
                {% for payment in opcoes_pagamentos %}
                    <option value="{{ payment.0 }}">{{ payment.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit">Filtrar</button>
    </form>

    <h2>Gastos Cadastrados</h2>
    <ul class="item-list">
        {% for gasto in page_obj %}
        <li class="item-renda">
            <span>R$ {{ gasto.valor|floatformat:2 }}</span>
            <span>{{ gasto.descricao }}</span>
            <span>{{ gasto.categoria }}</span>
            <span>{{ gasto.metodo_pagamento }}</span>
            <span>{{ gasto.data|date:"d-m-Y" }}</span>
            <form action="{% url 'delete_gasto' gasto.id %}" method="post">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar esse gasto?')">X</button>
            </form>
        </li>
        {% endfor %}
        <li><span>Total: R$ {{ total_gastos|floatformat:2 }}</span></li>
    </ul>
    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span>
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
