{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="pagina">
    <form action="{% url 'rendas' %}" method="POST" class="form-cadastro" style="max-width: 680px;">
        {% csrf_token %}
        {% include 'shared/cadastro_template.html' %}
        <div style="text-align: center;">
            <button type="submit">Cadastrar renda</button>
        </div>
    </form>
    
    <form method="get" class="filter-form">
        <div>
            <label for="selected_month">Mês:</label>
            <input type="month" id="selected_month" name="selected_month">
        </div>
        
        <div>
            <label for="selected_category">Categoria:</label>
            <select id="selected_category" name="selected_category">
                <option value="">Todas as categorias</option>
                {% for category in opcoes_rendas %}
                    <option value="{{ category.0 }}">{{ category.1 }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div>
            <label for="selected_payment">Pagamento:</label>
            <select id="selected_payment" name="selected_payment">
                <option value="">Todos pagamento</option>
                {% for payment in opcoes_pagamentos %}
                    <option value="{{ payment.0 }}">{{ payment.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit">Filtrar</button>
        <form action="{% url 'limpar_filtros' 'gastos' %}" method="get">
            <button type="submit">Limpar Filtros</button>
        </form>   
    </form>

    <h2>RENDAS CADASTRADAS:</h2>
    <ul class="item-list">
        <li>
            <span><strong>VALOR</strong></span>
            <span><strong>CATEGORIA</strong></span>
            <span><strong>PAGAMENTO</strong></span>
            <span><strong>DATA</strong></span>
        </li>
        {% for renda in page_obj %}
        <li>
            <span>R$ {{ renda.valor|floatformat:2 }}</span>
            <span>{{ renda.categoria }}</span>
            <span>{{ renda.metodo_pagamento }}</span>
            <span>{{ renda.data|date:"d-m-Y" }}</span>
            <form action="{% url 'delete_renda' renda.id %}" method="post">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar essa renda?')">X</button>
            </form>
        </li>
        {% endfor %}
        <li><span>Total: R$ {{ total_rendas|floatformat:2 }}</span></li>
    </ul>
    {% include 'shared/pagination.html' %}
    <div class="container">
        <div class="box">
            <h2>Rendas do mês atual</h2>
            <p>Total: R$ {{ context_view.renda_mes|floatformat:2 }}</p>
            <p>Gastos: R$ {{ context_view.gasto_mes|floatformat:2 }}</p>
            <p>Saldo: <span class="{% if context_view.saldo >= 0 %}positive{% else %}negative{% endif %}">
                R$ {{ context_view.saldo|floatformat:2 }}
                </span>
            </p>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Rendas do mês
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando as rendas do mês atual, 
                        em ordem decrescente da soma dos valores das categorias</span>
                </span>
            </h2>
            <canvas id="grafico-mes"></canvas>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <h2>Rendas totais</h2>
            <p>Total: R$ {{ context_total.renda_total|floatformat:2 }}</p>
            <p>Gastos: R$ {{ context_total.gasto_total|floatformat:2 }}</p>
            <p>Saldo: <span class="{% if context_total.saldo_total >= 0 %}positive{% else %}negative{% endif %}">
                R$ {{ context_total.saldo_total|floatformat:2 }}
                </span>
            </p>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Todas as rendas
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando todos as rendas cadastradas, 
                        em ordem decrescente da soma dos valores das categorias</span>
                </span>
            </h2>
            <canvas id="grafico"></canvas>
        </div>
    </div>
    <div class="graficos-container-pie">
        <div class="grafico-pie">
            <h2>
                Categorias do mês
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a quantidade de vezes 
                        que cada categoria de rendas foi utilizada este mês</span>
                </span>
            </h2>
            <canvas id="grafico-contagem-mes"></canvas>
        </div>
        <div class="grafico-pie">
            <h2>
                Categorias total
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando a quantidade de vezes 
                        que cada categoria de rendas foi utilizada desde o início</span>
                </span>
            </h2>
            <canvas id="grafico-contagem-total"></canvas>
        </div>
    </div>

    {% include 'shared/script_grafico.html' %}

</div>

{% endblock %}