{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="pagina">
    <form action="{% url 'rendas' %}" method="POST" class="form-cadastro">
        {% csrf_token %}
        <div>
            <div>
                {% for field in form.visible_fields|slice:":3" %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.as_widget }}
                </div>
                {% endfor %}
            </div>
            <div>
                {% for field in form.visible_fields|slice:"3:" %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.as_widget }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <button type="submit">Cadastrar renda</button>
        </div>
    </form>
    
    <form method="get" class="filter-form">
        <div>
            <label for="selected_month">Mês:</label>
            <input type="month" id="selected_month" name="selected_month">
        </div>
        
        <div>
            <label for="selected_category">Categoria:</label>
            <select id="selected_category" name="selected_category">
                <option value="">Todas as categorias</option>
                {% for category in opcoes_rendas %}
                    <option value="{{ category.0 }}">{{ category.1 }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div>
            <label for="selected_payment">Pagamento:</label>
            <select id="selected_payment" name="selected_payment">
                <option value="">Todos pagamento</option>
                {% for payment in opcoes_pagamentos %}
                    <option value="{{ payment.0 }}">{{ payment.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit">Filtrar</button>
    </form>

    <h2>Rendas Cadastradas</h2>
    <ul class="item-list">
        {% for renda in page_obj %}
        <li class="item-renda">
            <span>R$ {{ renda.valor|floatformat:2 }}</span>
            <span>{{ renda.descricao }}</span>
            <span>{{ renda.categoria }}</span>
            <span>{{ renda.metodo_pagamento }}</span>
            <span>{{ renda.data|date:"d-m-Y" }}</span>
            <form action="{% url 'delete_renda' renda.id %}" method="post">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar essa renda?')">X</button>
            </form>
        </li>
        {% endfor %}
        <li><span>Total: R$ {{ total_rendas|floatformat:2 }}</span></li>
    </ul>
    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span>
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>

    <div class="graficos-container">
        <div class="grafico">
            <h2 style="margin-left: 80px;">Gráfico de Rendas</h2>
            <canvas id="grafico-rendas"></canvas>
        </div>
        <div class="grafico">
            <h2 style="margin-left: 80px;">Gráfico Categorias</h2>
            <canvas id="grafico-categorias"></canvas>
        </div>
    </div>

</div>

<script>
    var rendasData = {
        labels: [{% for categoria in grafico_renda.0 %}'{{ categoria.categoria_renda }}',{% endfor %}],
        datasets: [{
            data: [{% for categoria in grafico_renda.0 %}{{ categoria.total }},{% endfor %}],
            backgroundColor: [
                'red',
                'green',
                'blue',
                'orange',
                'purple',
                'yellow',
            ]
        }]
    };
    var categoriasData = {
        labels: [{% for pagamento in grafico_renda.1 %}'{{ pagamento.categoria_renda }}',{% endfor %}],
        datasets: [{
            data: [{% for pagamento in grafico_renda.1 %}{{ pagamento.contagem }},{% endfor %}],
            backgroundColor: [
                'red',
                'green',
                'blue',
                'orange',
                'purple',
                'yellow',
            ]
        }]
    };
</script>
<script src="{% static 'styles/grafico.js' %}"></script>

{% endblock %}