{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>RENDAS</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">
    <form action="{% url 'rendas' %}" method="POST" class="form-cadastro" style="max-width: 810px; margin-top: 40px;">
        {% csrf_token %}
        {% include 'shared/cadastro_template.html' %}
        <div style="text-align: center;">
            <button type="submit" class="botao-normal">Cadastrar renda</button>
        </div>
    </form>

    {% with tipo="renda" %}
        {% include 'shared/filter_selection.html' %}
        {% include 'shared/tabelas/tabela_rendas_gastos.html' %}
    {% endwith %}
    
    <div class="container">
        <div class="box">
            <h2>Rendas do mês atual</h2>
            <p>Total: R$ {{ context_view.renda_mes|floatformat:2 }}</p>
            <p>Gastos: R$ {{ context_view.gasto_mes|floatformat:2 }}</p>
            <p>Saldo: <span class="{% if context_view.saldo >= 0 %}positive{% else %}negative{% endif %}">
                R$ {{ context_view.saldo|floatformat:2 }}
                </span>
            </p>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Rendas do mês
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando as rendas do mês atual, 
                        em ordem decrescente da soma dos valores das categorias.</span>
                </span>
            </h2>
            <canvas id="grafico-mes"></canvas>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <h2>Rendas totais</h2>
            <p>Total: R$ {{ context_total.Rendas|floatformat:2 }}</p>
            <p>Gastos: R$ {{ context_total.Gastos|floatformat:2 }}</p>
            <p>Saldo: <span class="{% if context_total.Saldo >= 0 %}positive{% else %}negative{% endif %}">
                R$ {{ context_total.Saldo|floatformat:2 }}
                </span>
            </p>
        </div>
    </div>
    <div class="graficos-container">
        <div class="grafico">
            <h2>
                Todas as rendas
                <span class="info-icon">i
                    <span class="info-text">Gráfico representando todos as rendas cadastradas, 
                        em ordem decrescente da soma dos valores das categorias.</span>
                </span>
            </h2>
            <canvas id="grafico"></canvas>
        </div>
    </div>

    {% include 'shared/tabelas/tabela.html' %}
    
    {% include 'shared/scripts/script_grafico.html' %}

</div>
{% include 'shared/footer.html' %}

{% endblock %}