{% load static %}
<div>
    <nav class="menu-lateral">
        <div class="btn-expandir">
            <span class="icon">
                <img src="{% static 'img/list.svg' %}" alt="Ícone" id="btn-exp" />
            </span>
        </div>
        <ul>
            <li class="item-menu">
                <a href="{% url 'index' %}">
                    <span class="icon">
                        <img src="{% static 'img/house.svg' %}" alt="Ícone" />
                    </span>
                    <span class="txt-link">HOME</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'rendas' %}">
                    <span class="icon">
                        <img src="{% static 'img/cash-coin.svg' %}" alt="Ícone" />
                    </span>
                    <span class="txt-link">RENDAS</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'gastos' %}">
                    <span class="icon">
                        <img src="{% static 'img/wallet2.svg' %}" alt="Ícone" />
                    </span>
                    <span class="txt-link">GASTOS</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'rendasfixa' %}">
                    <span class="icon">
                        <img src="{% static 'img/bank.svg' %}" alt="Ícone" />
                    </span>
                    <span class="txt-link">FIXA</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'acoes' %}">
                    <span class="icon">
                        <img src="{% static 'img/graph-up.svg' %}" alt="Ícone" />
                    </span>
                    <span class="txt-link">AÇÕES</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'fiis' %}">
                    <span class="icon">
                        <img src="{% static 'img/buildings.svg' %}" alt="Ícone" />
                    </span>
                    <span class="txt-link">FIIS</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'bdrs' %}">
                    <span class="icon">
                        <img src="{% static 'img/currency-dollar.svg' %}" alt="Ícone" />
                    </span>
                    <span class="txt-link">BDRS</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'criptos' %}">
                    <span class="icon">
                        <img src="{% static 'img/currency-bitcoin.svg' %}" alt="Ícone" />
                    </span>
                    <span class="txt-link">CRIPTOS</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'config' %}">
                    <span class="icon">
                        <img src="{% static 'img/gear.svg' %}" alt="Ícone" />
                    </span>
                    <span class="txt-link">AJUSTES</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<script src="{% static 'styles/menu.js' %}"></script>