{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>CADASTRO</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">
    <form action="{% url 'cadastro' %}" method="POST" class="form-cadastro" style="max-width: 400px;">
        {% csrf_token %}
        <div>
            {% for field in form.visible_fields %}
            <div>
                <label for="{{ field.id_for_label }}">{{field.label}}
                {{ field }}
            </div>
            {% endfor %}
        </div>
        <div>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</div>

{% endblock %}