{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div style="margin-left: 500px;">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class"coluna">
            {% for field in form.visible_fields %}
            <div class="formulario">
                <label for="{{ field.id_for_label }}">{{field.label}}
                {{ field }}
            </div>
            {% endfor %}
        </div>
        <div>
            <button type="submit">Logar</button>
        </div>
    </form>
</div>

{% endblock %}

<script src="{% static 'styles/menu.js' %}"></script>