{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>LOGIN</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina">
    <form action="{% url 'login' %}" method="POST" class="form-cadastro" style="max-width: 300px;">
        {% csrf_token %}
        <div>
            {% for field in form.visible_fields %}
            <div>
                <label for="{{ field.id_for_label }}">{{field.label}}
                {{ field }}
            </div>
            {% endfor %}
        </div>
        <div style="text-align: center;">
            <button type="submit" class="botao-normal">Logar</button>
        </div>
    </form>
    <div style="margin-left: 485px;">
        <p>Não tem uma conta ainda? <a href="{% url 'cadastro' %}">Cadastrar</a></p>
    </div>
</div>

{% endblock %}

<script src="{% static 'styles/menu.js' %}"></script>