{% extends 'shared/base.html' %}
{% block title %}Minha Carteira - Login{% endblock %}
{% load static %}
{% block content %}

<div class="titulo">
    <h4>LOGIN</h4>
    {% include 'partials/_alertas.html' %}
</div>
<div class="pagina" style="margin-bottom: 300px;">
    <form action="{% url 'login' %}" method="POST" class="form-cadastro" style="max-width: 300px;">
        {% include 'shared/form_formulario.html' %}
        <div style="text-align: center;">
            <button type="submit" class="botao-normal">Logar</button>
        </div>
    </form>
    <div style="margin-left: 485px;">
        <p>Não tem uma conta ainda? <a href="{% url 'cadastro' %}">Cadastrar</a></p>
    </div>
</div>

{% include 'shared/footer.html' %}
{% endblock %}

<script src="{% static 'styles/menu.js' %}"></script>